/* -------------------------------------------------------------------------- */
/*                                   Colors                                   */
/* -------------------------------------------------------------------------- */
$gold-crayola: #e4c590;
$quick-silver: #a5a5a5;
$davys-grey: #595654;

$smoky-black-1: #0e0d0b;
$smoky-black-2: #0d0c0b;
$smoky-black-3: #121111;

$eerie-black-1: #161617;
$eerie-black-2: #1a1c1d;
$eerie-black-3: #131414;
$eerie-black-4: #212121;

$white: #ffffff;
$white-alpha-20: hsla(0, 0%, 100%, 0.2);
$white-alpha-10: hsla(0, 0%, 100%, 0.1);

$black: #000000;
$black-alpha-80: hsla(0, 0%, 0%, 0.8);
$black-alpha-15: hsla(0, 0%, 0%, 0.15);

/* Gradient Color */
$loading-text-gradient: linear-gradient(90deg, transparent 0% 16.66%, $smoky-black-3 33.33% 50%, transparent 66.66% 75%);

$gradient-1: linear-gradient(to top, hsla(0, 0%, 0%, 0.9), hsla(0, 0%, 0%, 0.7), transparent);
